.box::-webkit-scrollbar {
  display: none;
}

.box {
  overflow: auto;
  height: 480px;
  max-height: 500px;
  max-width: 100vw;
  min-width: 100px;
  /* margin-top: 3vh; */
  margin-bottom: 3vh;
  background: linear-gradient(
    to right bottom,
    rgb(26, 24, 24),
    rgb(32, 24, 24),
    rgb(39, 29, 39)
  );
  color: rgb(194, 182, 182);

  /* // COLORFUL GRADIENT BORDER */

  border-width: thick;
  border-style: solid;
  border-image: linear-gradient(
    to right bottom,
    blue,
    red,
    green,
    purple,
    rgb(178, 218, 35),
    rgb(235, 129, 146),
    rgb(236, 156, 6),
    rgb(43, 166, 214),
    rgb(43, 166, 214),
    rgb(236, 156, 6),
    rgb(235, 129, 146),
    rgb(178, 218, 35),
    purple,
    green,
    red,
    blue
  );
  border-image-slice: 1;
}

.box__innerBox {
  padding: 4vh;
  z-index: 1;
}

.box__data {
  list-style-type: none;
  text-decoration: none;
  padding: 2.5% 0 2.5% 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* // FOR THE HEADER */

/* .header {
    width: 100vw;
    height: 35px;
  } */

/* 368 */
@media screen and (max-width: 368px) {
  .box__innerBox {
    padding: 2vh;
    font-size: 0.9rem;
  }
}

/* height: 645 */
@media screen and (max-height: 645px) {
  .box__innerBox {
    height: 460px;
  }
}
