.boxRange__rangeBar {
  display: none;
  display: flex;
  flex-direction: column;
  margin: 9px 8px 9px 8px;
}

.boxRange__rangeBar-timimg {
  margin-top: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* // INPUT OF RANGE TYPE */

/* WEBKIT BASED BROWSERS (CHROME, SAFARI, OPERA) */
.range__input {
  -webkit-appearance: none;
  border-radius: 3px;
  cursor: pointer;
  /* width: 140px; */
}

.range__input::-webkit-slider-runnable-track {
  /* width: 140px; */
  height: 6px;
  background: #735bc1;
  border: none;
  border-radius: 3px;
}

.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgb(224, 12, 12);
  margin-top: -4px;
}

.range__input:focus {
  outline: none;
}

/* .range__input:focus::-webkit-slider-runnable-track {
      background: rgb(238, 40, 40);
    } */

/* FIREFOX */
/* .range__input {
      fix for FF unable to apply focus style bug 
      border: 1px solid rgb(149, 148, 230);
    
      required for proper track sizing in FF
      width: 130px;
    } */

.range__input::-moz-range-track {
  /* width: 140px; */
  height: 6px;
  background: #735bc1;
  border: none;
  border-radius: 3px;
}

.range__input::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgb(224, 12, 12);
}

/*hide the outline behind the border*/
.range__input:-moz-focusring {
  outline: 1px solid rgb(149, 148, 230);
  outline-offset: -1px;
}

/* .range__input:focus::-moz-range-track {
      background: rgb(238, 40, 40);
    } */

/* INTERNET EXPLORER 10 + */
.range__input::-ms-track {
  /* width: 140px; */
  height: 6px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}
.range__input::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
.range__input::-ms-fill-upper {
  background: #735bc1;
  border-radius: 10px;
}
.range__input::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgb(224, 12, 12);
}
.range__input:focus::-ms-fill-lower {
  background: #888;
}
.range__input:focus::-ms-fill-upper {
  background: rgb(238, 40, 40);
}

/* .range__input {
      border-width: 0px;
      border: none;
      outline: none;
      cursor: pointer;
      width: 100%;
    } */
