* {
  margin: 0;
}

::selection {
  background-color: rgba(43, 166, 214, 0.356);
}

body {
  background: linear-gradient(
    to right,
    #43848d,
    rgba(54, 176, 197, 0.623),
    rgb(243, 243, 199),
    rgb(233, 196, 128),
    rgb(199, 165, 102),
    rgb(211, 165, 165),
    rgb(190, 133, 133)
  );
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background {
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(
    left,
    #438d64,
    rgba(54, 176, 197, 0.623),
    rgba(226, 226, 38, 0.575),
    rgba(202, 138, 19, 0.808),
    rgba(207, 74, 21, 0.486),
    rgb(216, 162, 207),
    rgb(182, 73, 73)
  );
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    right,
    #438d64,
    rgba(54, 176, 197, 0.623),
    rgba(226, 226, 38, 0.575),
    rgba(202, 138, 19, 0.555),
    rgba(126, 41, 7, 0.342),
    rgb(211, 165, 203),
    rgb(190, 133, 133)
  );
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    right,
    #438d64,
    rgba(54, 176, 197, 0.623),
    rgba(226, 226, 38, 0.575),
    rgba(202, 138, 19, 0.555),
    rgba(126, 41, 7, 0.342),
    rgb(211, 165, 203),
    rgb(190, 133, 133)
  );
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(
    to right,
    #438d64,
    rgba(54, 176, 197, 0.623),
    rgba(226, 226, 38, 0.575),
    rgba(202, 138, 19, 0.555),
    rgba(126, 41, 7, 0.342),
    rgb(211, 165, 203),
    rgb(190, 133, 133)
  );
  /* Standard syntax (must be last) */
}
