* {
  margin: 0;
}

::selection {
  background-color: rgba(43, 166, 214, 0.356);
}

body {
  /* background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
  /* background: linear-gradient(
    180deg,
    #0f90e677,
    rgba(54, 176, 197, 0.623),
    rgb(243, 243, 199),
    rgb(211, 165, 165),
    rgb(190, 133, 133),
    rgb(233, 196, 128),
    rgb(83, 161, 90)
  ); */
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
